/* generic */
:root {
    --primary-color: #0084FD;
    --primary-color-light: #B5DDFF;
    --secondary-color: #9792E4;
    --third-color: #FDC15F;
}

.debug {
    min-height: 200px;
    margin: 1em;
    display: block;
    border: 1px solid black;
}
.bg-primary {background-color: #0084FD;}
.bg-primary-light {background-color: var(--primary-color-light);}
.bg-secondary {background-color: var(--secondary-color);}
.bg-third {background-color: var(--third-color);}
h1,
h2,
h3,
h4,
p {
    margin: 1em;
    padding: 1em 0;
    line-height: 190%;
}
h2 {
    font-size: 2.5em;
}
h3 {
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: white;
}

.button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 1em 2em;
    margin: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border-radius: 20px;
}
/* header */

header {
    background-color: #0084FD;
}

.logo,
.navsec,
.bars {
    padding: 2em 0;
    margin: 0 1em;
}

.fa-bars {
    font-size: 2em;
}

.navsec {
    display: none;
    font-size: 1.4em;
    font-weight: 100;
}

.navsec.started {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: .4em .8em;
}

/* demo app */

.demo.card {
    background-color: #B5DDFF;
}

.demo.card h3 {
    font-size: 1.6em;
    color: var(--primary-color);
}

.demo.card > i {
    font-size: 4em;
    color: var(--primary-color);
    margin: 1em;
}

.demo.card p {
    color: #607688;
}

/* planning */

.plan-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan.card {
    background-color: white;
}
.plan.card p {
    font-style: italic;
}

.plan.card .button {
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: black;
    padding: 1em;
}

/* testimonials */
#testimonial  {
    text-align: center;
}

#testimonial h2 {
    color: var(--secondary-color);
}

.testimonial.card {
    background-color: var(--secondary-color);
    color: white;
}
.testimonial.card i {
    margin: .3em;
}

.testimonial-pic {
    width: 45%;
    border-radius: 50%; 
    margin: 1em;
}
.testimonial-pic img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.testimonial.card H3 {
    color: white;
}
/* media queries */

/*************************************************
                TABLET VERSION
*************************************************/

@media screen and (min-width: 768px) {

    #demo-app,
    #benefits,
    #about {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* Demo app */

    #demo-app .demo-card {
        width: calc(100% / 3 - 2em);
        
    }

    #demo-app .demo-card.large {
        width: calc((100% / 3 - 1em) * 2);
    }

    /* testimonial */

    .testimonial.card {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .testimonial-pic {
        width: 25%;
    }

    .testimonial-text {
        width: 60%;
    }

    /* benefit */

    #benefit-title {
        width: calc(100% - 2em);
    }

    .benefit-card {
        width: calc(100% / 2 - 2em);
    }

    /* about */

    .about-container {
        width: 50%;
    }
}


/*************************************************
                DESKTOP VERSION
*************************************************/


@media screen and (min-width: 1100px) {
    .container {
        width: 70%;
        max-width: 1100px;
        margin: auto;
    }

    /* header */

    .navsec {
        display: inline-block;
    }

    .bars {
        display: none;
    }

    /* planning */

    #planning {
        display: flex;
    }

    .plan-wrapper {
        width: 50%;
    }

    .plan-wrapper.right {
        padding-top: 5em;
    }

    /* benefit */

    .benefit-card {
        width: calc(100% / 3 - 2em);
    }
}